.stripe {
  margin-bottom: 50px;
}

.about {
  width: 60%;
  color: #464646;
}

.about .slogan {
  color: #cc1f75;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}

.total-container {
  color: #464646;
  font-size: 20px;
  font-weight: bold;
}

.cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
}

.alternate {
  margin: auto auto;
  color: #464646;
  font-size: 30px;
  font-weight: bold;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
  border: 2px solid pink;
}

.cart img {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-top: 15px;
}

.cart .remove {
  display: block;
  margin: 0 auto;
  color: #464646;
  font-family: 'open sans';
}

.cart .crement-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.cart .crement-container .crement {
  margin: 5px auto;
  display: inline-block;
  height: 35px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.cart .crement-container span {
  margin: auto auto;
}

.cart .cart-child {
  color: #464646;
}

.cart .cart-child .product-name {
  margin: 0 auto;
  font-size: 18px;
}

.shop-welcome {
  color: #464646;
  font-size: 25px;
}

.shop-container {
  width: 60vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.shop-container .product {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 43%;
  padding: 15px;
  border: 2px solid pink;
}

.shop-container .product img {
  width: 100%;
}

.shop-container .product .price {
  margin-left: 5px;
}

.shop-container .product button {
  border: 2px solid #cc1f75;
  -webkit-box-shadow: 2px 2px 2px #cfcece;
          box-shadow: 2px 2px 2px #cfcece;
  font-weight: bold;
  font-size: 18px;
  margin: 8px auto;
  padding: 10;
  color: gray;
}

.shop-container .product .product-name {
  margin: 0;
  margin-bottom: 10px;
  color: gray;
  font-size: 20px;
  font-weight: bold;
}

.socials {
  display: none;
  position: absolute;
  width: 200px;
  right: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.socials img {
  display: none;
  height: 35px;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #414141;
  background-color: #ffff90;
  position: absolute;
  padding: 10px;
  top: 300px;
  left: 75px;
  width: 190px;
  height: 250px;
  -webkit-box-shadow: 1px 1px 4px #afaeae;
          box-shadow: 1px 1px 4px #afaeae;
}

.newsletter h2 {
  font-size: 15px;
}

.newsletter input {
  padding: 5px;
}

.newsletter input, .newsletter button {
  margin-bottom: 15px;
}

.newsletter button {
  color: #464444;
  font-size: 20px;
  padding: 3px;
}

hr.zig {
  width: 77%;
  height: 1px;
  background-color: gray;
  border-radius: 5%;
  position: relative;
  top: -18px;
}

.register, .login {
  color: #464646;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

.register .name, .login .name {
  margin-top: 40px;
}

.register input, .login input {
  height: 20px;
  margin: 10px;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

.login .email {
  margin-top: 40px;
}

.login input {
  height: 20px;
  margin: 10px;
}

button {
  background-color: white;
  border-radius: 8%;
  font-family: 'Pacifico', cursive;
  color: #cc1f75;
  padding: 8px;
}

button:hover {
  cursor: pointer;
}

.account, .hamburger {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .sploosh {
  height: 150px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 35%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post-container {
  width: 100%;
}

.post {
  width: 80%;
  margin: 5px auto;
  font-family: 'Open Sans', sans-serif;
  color: #555151;
  padding-bottom: 30px;
}

.post:hover {
  cursor: pointer;
}

.post .content {
  width: 500px;
}

.post .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post img {
  height: 350px;
  padding: 5px;
  border: 2px solid pink;
}

.post img:hover {
  -webkit-animation-name: dim;
          animation-name: dim;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.post .post-title {
  font-size: 28px;
  text-align: center;
  padding: 0;
  margin: 10px auto;
  font-weight: bold;
}

.post .post-description {
  color: #cc1f75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.full-screen-links, .account-links {
  font-size: 20px;
  color: gray;
}

.full-screen-links .full-screen-link, .account-links .full-screen-link {
  border-bottom: yellow;
}

.full-screen-links:hover, .account-links:hover {
  cursor: pointer;
}

footer {
  display: none;
  position: fixed;
  bottom: 0px;
  background-color: pink;
  height: 100px;
}

footer div {
  width: 50%;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 375px) {
  .socials {
    display: none;
  }
  .post-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .newsletter {
    display: none;
  }
  .shop-container {
    margin-top: 130px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .shop-container .product {
    width: 70%;
  }
  .cart-container {
    margin-top: 30px;
  }
  .alternate {
    margin-top: 30px;
  }
  header .header-links {
    display: block;
    position: absolute;
    margin: 5px 0;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    padding: 12px 16px;
    z-index: 1;
    width: 100px;
    top: 100px;
    left: 0px;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  header .header-links .headLink {
    font-size: 20px;
    color: #464646;
  }
  header .account-drop-down-links {
    display: block;
    position: absolute;
    margin: 5px 0;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    padding: 12px 16px;
    z-index: 1;
    width: 100px;
    top: 100px;
    right: 0px;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  header .account-drop-down-links p {
    font-size: 20px;
    color: #464646;
  }
  header img {
    height: 170px;
    margin: 0 10px;
  }
  header .hamburger {
    display: block;
    height: 40px;
  }
  header .account {
    display: block;
    height: 40px;
  }
  header .account-links {
    display: none;
  }
  header .full-screen-links {
    display: none;
  }
  .post {
    margin: 5px 0;
    width: 70%;
  }
  .post .img-container {
    margin-top: 5px;
  }
  .post .img-container img {
    height: 280px;
    -webkit-animation: none;
            animation: none;
  }
  .post .content {
    margin-left: 15px;
    width: 90%;
  }
  .shop-welcome {
    font-size: 18px;
    margin-left: 20px;
  }
  hr.zig {
    display: block;
    border: none;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 150px;
    margin-bottom: 5%;
    height: 10px;
    background: linear-gradient(135deg, white 25%, transparent 25%) -5px 0, linear-gradient(225deg, white 25%, transparent 25%) -5px 0, linear-gradient(315deg, white 25%, transparent 25%), linear-gradient(45deg, white 25%, transparent 25%);
    background-size: 10px 10px;
    background-color: #ffa3d6;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .75;
  }
}

@keyframes dim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .75;
  }
}
/*# sourceMappingURL=App.css.map */