// variables, nesting, states (use &:), separate files for chunks of code (import the file into the main scss file and name it beginning with an underscore (_header.scss), @import './header)

//@mixin flexCenter($direction) {
    //display: flex;
    //flex-direction: $direction}

    //@include flexCenter(column);


    
@mixin flex($spacing) {
    display: flex;
    align-items: center;
    justify-content: $spacing;
}

@media (max-width: 375px) {
    header {
        @include flex(center);
        .account-links {
            display: none;
        }
        .header-links {
            display: block;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            border-radius: 5%;
            padding: 12px 16px;
            z-index: 1;
            width: 100px;
            top: 100px;
            left: 0px;
            color: rgb(187, 61, 39);
            transition: height 0.5s;
            
            
        }
        img {
            height: 170px;
            margin: 0 10px;
        
        }
        .hamburger {
            height: 40px;
            
        }
        .account {
            height: 40px;
            
        }
    }
    .post {
        width: 85%;
        margin: 5px auto;
        font-family: 'Open Sans', sans-serif;
        color: rgb(85, 81, 81);
        padding-bottom: 30px;
        
        .img-container {
            margin: 0 auto;
            @include flex(center);
        }
        img {
            height: 180px;
            
        }
        .post-title {
            font-size: 28px;
            text-align: center;
            padding: 0;
            margin: 10px auto;
        }
        .post-description {
            color: #cc1f75;
            display: flex;
            justify-content: center;
            text-align: center;
            margin-bottom: 10px;
            font-weight: bold;
        }
    }
    
    .post-description {
        color: #cc1f75;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        font-weight: bold;
    }
    
    hr.zig {
        border: none; 
        width: 100%; 
        margin: auto; 
        
        position: absolute;
        top: 145px;
        
         
        height: 10px; background: linear-gradient(135deg, white 25%, transparent 25%) -5px 0, linear-gradient(225deg, white 25%, transparent 25%) -5px 0, linear-gradient(315deg, white 25%, transparent 25%), linear-gradient(45deg, white 25%, transparent 25%); background-size: 10px 10px; background-color: #ffa3d6;}
    }

      
      
      

      
      
    

// header {
//     @include flex(center);
//     nav {
//         @include flex(space-around);
//         background-color: gray;
//         width: 40%;
//     }
// }